<div class="sinupPage">
  <div class="titleArea">
    <h1>New_account</h1>
    <div class="m-3">or</div>
    <%= render 'devise/shared/links' %>
  </div>
  <div class="container">
    <%= form_with model: @user, url: user_registration_path, html: { class: "mt-5, signupForm" },local: true do |f| %>
      <% devise_error_messages! %>
      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_area :name, class: 'form-control', placeholder: "名前を入力" %>
      </div>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control', placeholder: "emailを入力", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: "pathwordを入力" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "pathwordを再度入力" %>
      </div>
      <div class="text-center">
        <%= f.submit "Sign up", class: 'btn submitBtn'%>
      </div>
    <% end %>
  </div>
</div>


<%= render "devise/shared/links" %>
